/* Update this in your main.css file */
body {
    background-color: #f8f9fa;
}

.custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust the width to your preference */
    max-width: 600px; /* Set a maximum width to avoid excessive stretching on larger screens */
    margin: auto;
    margin-top: 50px; /* Adjust the margin-top to center the card vertically */
}

/* Optional: Adjust form elements and button size for wider card */
.custom-card form {
    max-width: 400px; /* Adjust the maximum width of the form */
    margin: auto;
}

.custom-card .form-control-file {
    width: 100%; /* Make file input full width */
}

.custom-card button {
    width: 100%; /* Make the button full width */
}
